<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apktool</key>
	<string>/usr/local/Cellar/apktool/2.6.0/bin/apktool</string>
	<key>apktoolMark</key>
	<string>apktool工具的路径，可设置为自己的位置</string>
	<key>url</key>
	<string>https://fir-im.coding.net/p/fir.im/d/AppStore/git/raw/master/</string>
	<key>urlMark</key>
	<string>腾讯Coding仓库主地址，用来提供资源存储路径，可设置为知己的coding仓库路径</string>
</dict>
</plist>
